.pagination--custom .page-item.active .page-link {
    z-index: 1;
    color: var(--primary-color);
    background-color: var(--button-color-type-1);
    border-color: var(--button-color-type-1);
}

.pagination--custom .page-link{
    color: var(--button-color-type-1);
}

.pagination--custom .page-item:not(:first-child) .page-link {
    margin-left: 0;
}

.pagination--custom .page-link:focus,
.pagination--custom .page-link:hover{
    color: var(--button-color-type-1);
    background-color: var(--primary-color);
}