@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap" rel="stylesheet');

.default-mode{
    /*----------- Color values  ------------*/
    --primary-color: #ffffff;

    --secondary-color-type-1: #000000;
    --secondary-color-type-2: #cccccc;

    --button-color-type-1: #fe744f;
    --button-color-type-2: #b73225;

    /*----------- Spacing values  ------------*/
    --side-bar-half-width: 50px;
    --side-bar-half-width--desktop: 70px;
    --side-bar-full-width: 150px;
    --side-bar-full-width--desktop: 200px;
    --icon-size: 35px;
    --icon-size--desktop: 50px;

    /*---------- Font and typography --------*/
    /* defined font family */
    --body-font: 'Open Sans';
    --banner-font: 'Montserrat';
    --default-font: sans-serif;

    /* Font weight */
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
}

a {
    text-decoration: none !important;
}

img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

html,
body {
    margin: 0;
    padding: 0;

    font-family: var(--body-font), var(--default-font);
    background-color: var(--primary-color);
    
    scroll-behavior: smooth;
}

.main{
    position: relative;
    z-index: 1;
    width: calc(100% - var(--side-bar-half-width));
    margin-left: var(--side-bar-half-width);
    transition: all .5s ease;
}

@media only screen and (min-width: 768px) {
    .side-bar.sidebar-active ~ .main{
        width: calc(100% - var(--side-bar-full-width));
        margin-left: var(--side-bar-full-width);
    }
}

@media only screen and (min-width: 992px) {
    .main{
        width: calc(100% - var(--side-bar-half-width--desktop));
        margin-left: var(--side-bar-half-width--desktop);
    }
    
    .side-bar.sidebar-active ~ .main{
        width: calc(100% - var(--side-bar-full-width--desktop));
        margin-left: var(--side-bar-full-width--desktop);
    }
}


.main__curtain{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    transition: all .5s ease;
    pointer-events: none;
}

.side-bar.sidebar-active ~ .main .main__curtain{
    opacity: 1;
    pointer-events: initial;
}

@media only screen and (min-width: 768px) {
    .side-bar.sidebar-active ~ .main .main__curtain{
        display: none;
    }
}


a:focus,
input:focus,
select:focus,
.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
